@{
    ViewData["Title"] = "Feiras";
}
<h1>@ViewData["Title"]</h1>

<body>
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="~/css/img/chinelo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DE LA COCK</h5>
                    <p class="card-text">Sou um chinelo.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="~/css/img/chinelo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DE LA COCK</h5>
                    <p class="card-text">Sou um chinelo.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="~/css/img/chinelo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DE LA COCK</h5>
                    <p class="card-text">Sou um chinelo.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="~/css/img/chinelo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DE LA COCK</h5>
                    <p class="card-text">Sou um chinelo.</p>
                </div>
            </div>
        </div>
    </div>
</body>


