@{
    ViewBag.Title = "Market For You";
}

<div class="jumbotron">
    <h1>ROZINHA</h1>
    <p class="lead">A ROZINHA É MUITO LINDA</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>