@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <img src="~/css/logo.png">




    <h1 class="display-4">Welcome to Market For You</h1>
    <p>Este trabalho foi realizado no âmbito da Unidade Curricular <a href="https://www.uminho.pt/pt/ensino/oferta-educativa/_layouts/15/uminho.portalum.ui/pages/catalogocursodetail.aspx?itemid=4346&catid=13">LI4</a>.</p>
</div>
